@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.background-container {
  background: #2f1893;
  width: 1400px;
  height: 890px;
  top: 17385px;
  left: -111px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  width: 972px;
  height: 40px;
  top: 65px;
  left: 213px;
}

.options-container {
  display: flex;
  flex-direction: row;
  width: 503px;
  height: 40px;
  top: 65px;
  left: 682px;
  justify-content: space-between;
}

.bottom-container {
  display: flex;
  justify-content: space-around;
}

.text-contaier {
  display: flex;
  flex-direction: column;
  width: 427px;
  height: 496px;
  top: 219px;
  left: 209px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 470px;
  height: 600px;
  top: 187px;
  left: 715px;
  justify-content: space-between;
  background-color: #ffffff;
}

.check-container {
  display: flex;
}

.check {
  width: 9.6px;

  top: 9.6px;
  left: 16.8px;
  border: 2px;
  angle: -180 deg;
  background: #25dac5;

  border-radius: 6px;
}

.terms {
  font-family: "Robato";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  color: #15143966;
}

.divider {
  width: 100px;
}

.di {
  width: 141.57px;
  height: 2px;
  top: 604.5px;
  left: 784.5px;
  border: 2px;
  color: #ebeaed;
}

.header-heading {
  font-family: DM Sans;
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
  letter-spacing: -0.2926828861236572px;
  text-align: center;
  width: 106px;
  height: 32px;
  top: -6px;
  left: 2px;
  color: #ffffff;
}

.active-option {
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  width: 80px;
  height: 26px;
  top: 72.4px;
  left: 682px;
  opacity: 0.3px;
  color: #15143966;
}

.options {
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  color: #ffffff;
}

.submit-btn {
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
  color: #ffffff;
  background: #482be7;
  width: 330px;
  height: 50px;
  border-radius: 100px;
}

.sign-in-option {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: center;
  color: #15143966;
}

.twitter-login {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
  width: 330px;
  height: 50px;
  border-radius: 100px;
  background: #1da1f2;
}

.header-button {
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
  color: #ffffff;
  background-color: #e93a7d;
  width: 120px;
  height: 40px;
  border-radius: 100px;
}

.text-heading {
  font-family: "Roboto";
  font-size: 58px;
  font-weight: 700;
  line-height: 70px;
  letter-spacing: -1px;
  text-align: left;
  color: #ffffff;
  width: 424px;
  height: 217px;
  top: 219px;
  left: 212px;
}

.text-para {
  font-family: "Roboto";
  font-size: 22px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  color: #ffffff;
  width: 363px;
  height: 160px;
  top: 460px;
  left: 212px;
}

.text-learn-btn {
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
  background-color: #e93a7d;
  width: 157px;
  height: 50px;
  border-radius: 100px;
}

.signup-heading {
  font-family: "Roboto";
  font-size: 42px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: -0.4000000059604645px;
  text-align: center;
  color: #ffffff;
  width: 247px;
  height: 52px;
  top: 235px;
  left: 829px;
}

.input-elements {
  width: 88px;
  height: 26px;
  top: 12px;
  left: 24px;

  font-family: DM Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  width: 330px;
  height: 50px;
  border-radius: 100px;
  border: 2px;
  padding-left: 30px;
}

.span-item {
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  color: #25dac5;
}
